.Accordion {
	overflow: hidden;
	background-color: #e2e2e0;margin-bottom: 20px; 
}

.AccordionPanel {
	margin: 0px;
	padding: 0px;
	background-color: #f3f3f3;
}


.AccordionPanelTab {
	background-color: #e2e2e0;
	border-bottom: solid 1px #FFFFFF;
	margin: 0px;
	padding: 4px 0px 3px 50px;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
}


.AccordionPanelContent {
	overflow: auto;
	margin: 0px;
	padding: 0px 50px 0px 50px;
	height: 200px;
	background-color: #f3f3f3;
	padding-bottom: 0px;
}


.AccordionPanelOpen .AccordionPanelTab {
	background-color: #9d9d9d;
	color: #FFFFFF;
}


.AccordionPanelTabHover {
	color: #FFFFFF;
	background-color: #9d9d9d;
}
.AccordionPanelOpen .AccordionPanelTabHover {
	color: #FFFFFFF;
	background-color: #9d9d9d;
}


.AccordionFocused .AccordionPanelTab {
	background-color: #3399FF;
}


.AccordionFocused .AccordionPanelOpen .AccordionPanelTab {
	background-color: #33CCFF;
}



.name{
	position:relative; 
	top:5px;
}


#detailDiv p{
	padding: 20px 50px 0px 50px;
	width: 500px;
}