#gallery, #gallery ul, #gallery ul li, #gallery ul li a img, #gallery ul li a span { float:left; }
#gallery ul li { width:220px; margin: 0 10px; padding:15px 0; }
#gallery ul li img { width: 220px; }
#gallery ul li a span { width:200px; padding:5px 10px; background-color:#e9e9e9; font-size: 14px;  color:#666; }
#gallery ul li a:link, #gallery ul li a:visited, #gallery ul li a:active { text-decoration: none; }
#gallery ul li a:hover { filter:alpha(opacity=75); -moz-opacity:0.75; -khtml-opacity: 0.75; opacity: 0.75;}
#gallery ul li a:hover span { background-color:#00C0F3; color: #FFF; transition: all 0s ease-in-out;}