@charset "UTF-8";


html, body { height: 100%; margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; line-height: 1.7em; color: #465660; }

body, body div, body p, body th, body td, body li, body dd { font-size: x-small; voice-family: "\"}\""; voice-family: inherit; font-size: small }

html>body, html>body div, html>body p, html>body th, html>body td, html>body li, html>body dd { font-size: small }

#container { min-height: 100%; position: relative; }



/* Typography
----------------------------------------------------------------------------------------------------*/

h2 { font-size: 21px; font-weight: bold; padding-bottom: 10px; }
h3 { font-size: 14px; font-weight: bold; /*text-transform: uppercase;*/ margin-bottom: 10px; padding-bottom: 5px; border-bottom: #ddd 1px solid; }
/*h4 { font-size: 14px; font-weight: bold; padding: 10px 0 15px; }*/
h4 { font-size: 14px; font-weight: bold; margin-top: 10px; }

p { padding-bottom: 10px; }

a:link, a:visited, a:active { color: #00c0f3; }
a:hover { color: #b1b1b1; }

strong { font-weight: bold; }



/* Header
----------------------------------------------------------------------------------------------------*/

#header { padding: 45px 0; }

#logo h1 { float: left; margin: 0; background: url(../images/logo.gif) 0 0 no-repeat; width: 300px; height: 30px; text-indent: -9999px; }



/* Navigation
----------------------------------------------------------------------------------------------------*/

#nav { float: right; width:510px; padding-top:4px;}
#nav ul, #nav li { display: inline; }
#nav li { float: left; background: url(../images/nav-div.gif) top right no-repeat; }
#nav li.last { background: none; }
#nav a.navabout { float: left; background: url(../images/nav-about.gif) 0 0 no-repeat; width: 103px; height: 23px; text-indent: -9999px; padding-right: 14px; }
#nav a.navworks { float: left; background: url(../images/nav-works.gif) 0 0 no-repeat; width: 161px; height: 23px; text-indent: -9999px; margin-right: 14px; }
#nav a.navfaq { float: left; background: url(../images/nav-faq.gif) 0 0 no-repeat; width: 58px; height: 23px; text-indent: -9999px; margin-right: 14px; }
#nav a.navcontact { float: left; background: url(../images/nav-contact.gif) 0 0 no-repeat; width: 146px; height: 23px; text-indent: -9999px; }

.about #nav a.navabout, #nav a.navabout:hover { background-position: 0 -23px;}
.works #nav a.navworks, #nav a.navworks:hover { background-position: 0 -23px;}
.faq #nav a.navfaq, #nav a.navfaq:hover { background-position: 0 -23px;}
.contact #nav a.navcontact, #nav a.navcontact:hover { background-position: 0 -23px;}

/* Hero
----------------------------------------------------------------------------------------------------*/

#hero { margin-bottom: 30px; }
/*#hero img { padding: 2px 0; border-top: #b1b1b1 1px solid; border-bottom: #b1b1b1 1px solid; }*/

/* Main
----------------------------------------------------------------------------------------------------*/

#main { padding-bottom: 30px; }
#main #article { padding-bottom: 20px; }
/*#home #main #article .grid_5 { padding-bottom: 20px; border-bottom: #ddd 2px solid; }
#home #main #article .grid_5 { color: #999; }
#home #main #article .grid_5 p { color: #b1b1b1; }*/
#home #main #article .grid_7 { padding-bottom: 100px; background: url(../images/badge.gif) 320px 108px no-repeat; }
#home #main #article .grid_7 p { font-size: 21px; line-height: 1.5em; }
#about #main #banner { width: 940px; margin-top: 20px; background: #fbfbfb; }
#faq #main #article .grid_12 ul { padding-bottom: 10px; }
#faq #main #article .grid_12 ul li { list-style: inside disc; padding-left: 1em; text-indent: -1em; }
#contact #main ul li { line-height: 1.4em; padding-bottom: 10px; }


/* Footer
----------------------------------------------------------------------------------------------------*/

#footer { height: 30px; position: absolute; bottom: 0; }
#footer .grid_12 p { padding: 5px 0; font-size: 10px; border-top: #eeeeee 1px solid; }

/* Form
----------------------------------------------------------------------------------------------------*/
#form_popup {overflow:hidden;}

#formdesign {width:450px; height:477px; background:#fff; float:left;}
#formdesign h4 {font-size:13px; padding:0px 0px 10px 20px; color:#455661;}
#inner {width:410px; height:393px; background:#e2e2e0; margin: 0px auto;}
.address {width:270px; float:left; padding:18px 0px 0px 22px;}
.address p { font-size:10px; line-height:1.4; padding:0px;}
.blue {color:#00c0f3;}

.corn { -moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}

form p {color:#455661; padding:10px 0px 0px 20px;}

input {width:356px; padding:5px; margin-left:20px; border:#9d9d9d 1px solid; font-family: Arial, Helvetica, sans-serif;  color:#4d4d4d; font-size:12px; background:#fff;}
textarea {width: 356px; height:100px; margin-left:20px; padding:5px; border:#9d9d9d 1px solid; font-family: Arial, Helvetica, sans-serif;  color:#4d4d4d; font-size:12px; background:#fff; resize: none;}
.submit {width:75px; height:25px; margin:24px 20px 0px 0px; border:none; background:#00c0f3; color:#fff; cursor:pointer; float:right;}
.submit:hover{background:#9d9d9d;}


/* Custom Amends
--------------------------------------------------------------------------------------------------*/

.default-link {
  color: #465660 !important;
  text-decoration: none;
}

.latest-news-img {
  display: inline-block;
  vertical-align: top;
  width: 100px;
  height: 100px;
  background: url(../images/latest-news-1.jpg) center center no-repeat;
  background-size: cover;
}

.latest-news-para {
  display: inline-block;
  width: 260px;
  margin-left: 10px;
}

.latest-news h3 {
  padding-bottom: 20px;
}

.latest-projects {
  margin-top: -20px;
  padding-bottom: 30px;
}

.latest-projects img {
  width: 100%;
  max-width: 100%;
}

#gallery-tabs {
  margin-top: 30px;
  margin-bottom: 15px;
}

.tab {
  display: inline-block;
  width: 33.333%;
  text-align: center;
  line-height: 50px;
  height: 50px;
  background-color: rgb(222,222,222);
  color: #ffffff !important;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  letter-spacing: 1px;
  font-family: inherit;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  transition: all 200ms;
}

.tab:hover {
  background-color: rgb(200,200,200);
}

.tab.selected {
  background-color: rgb(180,180,180);
}

/* Slider
--------------------------------------------------------------------------------------------------*/

.slider-wrap {
  padding: 20px 60px;
  border: 1px solid rgb(222,222,222);
  text-align: center;
  margin-bottom: 40px !important;
  position: relative;
}

.slider {
  margin-bottom: 0 !important;
}

.slick-slide {
  text-align: center;
}

.slick-slide:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.slick-slide p {
  vertical-align: middle;
  display: inline-block;
}

.slider-custom-nav {
  position: absolute;
  top: 0;
  height: 100%;
  width: 40px;
  display: block;
  background-color: rgb(222,222,222);
  cursor: pointer;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  transition: all 200ms;
}
.slider-custom-nav:hover {
  background-color: rgb(200,200,200);
}
.custom-previous {
  left: 0;
}
.custom-next {
  right: 0;
}
.slider-custom-nav img {
  padding-top: 30px;
}

