
/***********************************************/
/* 			  	  Forme		               	   */
/* 			     Style Sheet 		           */
/***********************************************/


/***********************************************/
/* 				HTML tag styles                */
/***********************************************/ 

html, body { 
	height: auto; 
	width: 100%;
	margin: 0;
	padding: 0;
	color: #676465;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height:1.3em;
	background: url(images/bg.gif) #FFF top center repeat-y;
}


/***********************************************/
/* 			         TEXT                      */
/***********************************************/

p {
	margin:8px 0 18px 0;
}

/* Default Links */
a:link, a:visited {
	color: #676465;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}



/***********************************************/
/* 			       LAYOUT                      */
/***********************************************/

#mainDiv {
	width:100%;
}
#mainContent {
	margin:0 auto;
	width:797px;
	background-color:#f3f3f3;
}
#navSpace {
	height:25px;
}
#spacerDiv {
	height:25px;
}
#flashContent {
	height:273px;
}
#leftColumn {
	width:400px;
	float:left;
	background-color:#676465;
}
#leftColumn div {
	padding:28px;

}
#leftColumn div p {
	margin:0;
	color:#FFFFFF;
	font-size:22px;
	line-height:1.8em;
}

#rightColumn {
	width:314px;
	float:right;
	margin-top:14px;
}




/***********************************************/
/* 			      NAVIGATION                   */
/***********************************************/

#navContainer {
	height:26px;
}

#navContainer ul {
	height:26px;
	width:797px;
	margin:0;
	padding:0;
	list-style-type:none;
}

#navContainer ul li {
	padding:0;
	margin:0;
	float:left;
	line-height:normal;
}

#navContainer ul li a {
	display:block;
	position:relative;
	padding:5px 52px 0 52px;
	margin:0;
	height:21px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
}
#navContainer ul li a:hover, #navContainer ul li a.active {
	color:#FFFFFF;
	background:#676465;
}
